:root {
  --color: #ffffff;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100dvh;
  color: #444;
  background: var(--color);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 300px;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.5ch;
  margin: 0;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

button {
  cursor: pointer;
  font-size: 1.25rem;
  border: 1px solid transparent;
  border-radius: 8px;
  color: #444;
  background: var(--color);
  filter: brightness(0.85);
  padding: 0.5rem 1.25rem;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.25;
  }

  &:not(:disabled):active {
    transform: translateY(2px);
  }

  &:focus-visible {
    outline: none;
    border: 1px solid #444;
  }
}

.color {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding-top: 1.5rem;
  border-top: 1px dashed #444;
}

span {
  font-size: 1.5rem;
}

a {
  font-size: 1.5rem;
  color: #444;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  text-decoration: none;
  border-radius: 4px;

  &:focus-visible {
    outline: 1px solid #444;
    outline-offset: 2px;
  }
}
